<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico.png') }}">
    <title>Restaurante Bom Sabor</title>>
    <link rel="stylesheet" href="{{ url_for('static', filename='manager/manager_utilities.css') }}">
</head>
<body>
    <div class="container">
        <a href="/gerente/gerenciamento/adicionar" class="card_add">Adicionar</a>
        <a href="/gerente/gerenciamento/modificar" class="card_modify">Modificar</a>
        <a href="/gerente/gerenciamento/remover" class="card_remove">Remover</a>
    </div>
</body>
</html>