<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico.png') }}">
    <title>Restaurante Bom Sabor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
</head>
<body>
    <nav class="navbar">
        <a href="/">Início</a>
    </nav>

    <h1>Menu</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Batata</td>
                <td>battato, com batata</td>
                <td>R$ 25,10</td>
            </tr>
            <tr>
                <td>Canja</td>
                <td>FRANGO E ARROZ</td>
                <td>R$ 2,10</td>
            </tr>
            <tr>
                <td>Churras</td>
                <td>Folha e alface</td>
                <td>R$ 5,10</td>
            </tr>
        </tbody>
    </table>
</body>
</html>


