.navbar {
    width: 100%;
    background-color: #008CBA;
    padding: 15px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar a:hover {
    color: yellow;
}