<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico.png') }}">
    <title>Restaurante Bom Sabor</title>>
    <link rel="stylesheet" href="{{ url_for('static', filename='manager/manager_products.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='products.css') }}">
    <style>
        .container form button {
            background: rgb(190, 0, 0);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Modificar Produtos</h1>
        <form action="/gerente/gerenciamento/remove" method="POST">
            <input type="text" id="id-products" name="id-products" placeholder="Id">
            <button type="submit">Remover</button>
        </form>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for product in list %}
            <tr>
                <td>{{product[0]}}</td>
                <td>{{product[1]}}</td>
                <td>{{product[2]}}</td>
                <td>{{product[3]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>